:root {
  /*color*/
  --black: #212121;
  --red: #d50000;
  --white: #fafafa;
  --blue: #0031ca;
  --dark-grey: #707070;
  --light-grey: #eeeeee;

  /*text size*/
  --large-size: 20px;
  --midium-size: 15px;
  --regular-size: 14px;
  --small-size: 12px;
  --micro-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto'
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

button {
  border: none;
  font-size: var(--midium-size);
  color: var(--red);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  background-color: var(--black);
  color: var(--white);
}

.navbar__logo {
  display: flex;
}

.navbar__logo i {
  color: var(--red);
  margin: 0px 4px;
}

.navbar__icons {
  display: flex;
  padding: 0;
}

.navbar__icons li {
  margin: 0px 8px;
}

.video {
  width: 100%;
}

.metadata {
  margin: 8px 12px;
}

.metadata__info > p {
  font-size: var(--small-size);
  color: var(--dark-grey);
}

.metadata__info__hashtag {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: var(--small-size);
  color: var(--blue);
}

.metadata__info__hashtag li {
  margin-right: 8px;
}

.metadata__info__title {
  display: flex;
  font-size: var(--midium-size);
}

.metadata__info__title i {
  margin-left: 8px;
}

.metadata__review {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 12px;
  padding: 0;
  text-align: center;
  color: var(--dark-grey);
  font-size: var(--midium-size);
}

.metadata__review .fa-thumbs-up {
  color: var(--blue);
}

.metadata__user {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.metadata__user__info {
  display: flex;
}

.metadata__user__info img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.metadata__user__info__name {
  margin-left: 8px;
}

.metadata__user__info__name .user {
  font-size: var(--regular-size);
  color: var(--black);
}

.metadata__user__info__name .views {
  font-size: var(--small-size);
  color: var(--dark-grey);
}

.upNext {
  margin: 8px 12px;
}

.upNext__info {
  color: var(--dark-grey);
}

.upNext__video {
  padding: 0;
  margin: 8px 0px;
}

.upNext__video li {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 0px;
}

.upNext__video img {
  width: 40%;
}

.upNext__video__info {
  margin: 0px 8px;
}

.upNext__video__info .title {
  font-size: var(--regular-size);
}

.upNext__video__info .user {
  font-size: var(--small-size);
  color: var(--dark-grey);
}

.upNext__video__info .views {
  font-size: var(--micro-size);
  color: var(--dark-grey);
}
